@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@media (max-width: 600px) {



    html {
        background-image: url("https://tiwy.ru/Img/books.jpg");
    }

    .head_name {
        font-size: 25px;
        margin-left: 50px;
        margin-top:20px;
        font-family: 'Inter', sans-serif;
        color: #06266F;


    }

    .main_menu {

        width: 90%;

        font-family: 'Inter', sans-serif;

        height: 90vh;
        color: #06266F;
        text-align: center;
        float: left;
    }

    .admin_menu {

        width: 20%;
        font-family: 'Inter', sans-serif;
        border: 2px solid #06266F;
        border-radius: 5px;
        height: 90vh;
        color: #06266F;
        text-align: center;
        vertical-align: center;
        float: left;
    }

    .punkt1 {
        font-size: 20px;
        height: 30px;
        padding-top: 3px;
        margin-right: 20%;
        margin-top: 2px;
        border: 2px solid #06266F;
        border-radius: 5px;
        background-color: #06266F;
        color: white;
        box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
    }

    .punkt2 {
        font-size: 15px;
        height: 30px;
        padding-top: 3px;
        margin-left: 20%;
        margin-top: 2px;
        border: 2px solid #06266F;
        border-radius: 5px;
        background-color: white;

        box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);

    }

    .punkt2 a {
        font-size: 20px;
        text-decoration: none;
        color: #06266F;
        font-family: 'Inter', sans-serif;

        text-align: center;
    }

    .article {
        padding: 1%;
        width: 100%;

        height: 90vh;

        font-size: 15px;
        font-family: 'Arial';
        color: #06266F;
        background-color: white;

        float: left;
        overflow: scroll;
    }

    .seo {
        padding: 1%;
        border: 2px solid #06266F;
        border-radius: 5px;
        width: 20%;
        float: left;
    }

    .seo_browse {
        display: none;
    }

    .article img {
        margin: 2%;
        max-width: 40%;
    }

    .article table img {
        margin: 2%;
        max-width: 100%;
    }

    .punkt {

        font-size: 15px;

        width: 90%;
        padding: 3px;

        margin-top: 2px;
        border: 2px solid #06266F;
        border-radius: 5px;
        background-color: white;
        height: 200px;
        box-shadow: 0 14px 28px rgba(06, 26, 61, 0.25), 0 10px 10px rgba(06, 26, 61, 0.22);
        float: left;

    }

    .punkt a {
        font-size: 20px;

        text-decoration: none;
        color: #06266F;
        font-family: 'Inter', sans-serif;

        text-align: center;
        margin-left: 1%;
    }

    .punkt img {

        height: 50%;
        margin: 2%;
        float: left;

    }

    .punkt p {
        font-size: 16px;

        color: #06266F;
        font-family: 'Arial';
    }
}